<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/random/elizabeth.ico">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
      .container { padding: 30px 0; }
    </style>
  </head>

  <body>

    {% comment %} This is where the README content is embedded {% endcomment %}
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <hr style="border-style: dashed; border-color: #888888; margin: 0;">

    <div class="container">
      <p>This menu was generated automatically. See ⬇️</p>
      <section id="downloads">
        <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View project on GitHub</a>
      </section>
      <p style="font-style: italic; color: #888; font-size: 0.8em;">"&nbsp;{{ site.github.project_tagline }}&nbsp;"</p>
    </div>

  </body>
</html>
